*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  width: 1140px;
}

/*-------------------- Секция result---------------------*/

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 1.5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  background-color:#1b1919;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder { 
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

/*-----------------Секция content------------------------*/

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  margin-top: 26px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*--------------------------Карточки----------------------*/

.content__list-item {
  padding: 3px;
}

.content__card-link {
  display: block;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link_current:hover {
  text-decoration-color: #fff;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link_current:focus {
  outline: none;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container { 
  flex-grow:1;
}

.content__video-card-title {
  overflow: hidden;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  font-weight: 400;
  line-height: 16.2px;
  line-clamp: 1;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}

/*----------------------Кнопки----------------------------*/

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
  padding: 6px 0;
}